[color]
  ui = true
[user]
  name = David Cuadra
  email = dcuadraq@gmail.com
[alias]
  co = checkout
  lm = commit --amend --no-edit
  lm = log -1 --pretty=%B # last commit message
  cob = checkout -
  lg = log --oneline --graph --decorate --date=relative --all
  d = diff
  f = fetch origin master
  files = diff-tree --no-commit-id --name-only -r # files in a commit
  fm = fetch origin master:master
  logtree = log --oneline --graph --decorate --date=relative --all
  p = push origin HEAD
  pf = push origin HEAD --force-with-lease
  s = status
  undolast = reset HEAD~
  sync = "!sh -c 'git checkout --quiet --detach HEAD && \
                  git fetch origin master:master ; \
                  git checkout --quiet -'"
[core]
	attributesfile = /Users/cuadra/.gitattributes
